{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
<!--here we using category is munne naml use cheyta keywrd anu-->
        {{category.description|truncatewords:155}}
    {% else %}
        welcome to store where you can buys different items....
    {% endif %}
{% endblock %}
{% block title %}

    {% if category %}
        {{category.name}}-store
    {% else %}
        check out new collections
    {% endif %}
{% endblock %}
{% block content %}
{% if category %}
<div>
    <div class="row my-row-class">
        <div class="mx-auto"></div>
        <div class="col-12 text-center">
        <p><a href ="{% url 'ecomapp:allProductCategory' %}" Our Product Collections</a></p>
    </div>
</div>
</div>
{% endif %}

<div class="mx-auto">
    {% if category %}
        <img class="my_image img-fluid" src="{{category.image.url}}" alt="{{category.name}}">

</div>
<br>
<div>
    <h1 class="text-center my title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
    <div>
        <img class="my_image my_image_padding " src="{% static 'img/banner.png' %}" alt="Our Product">
    </div>
<br>
<div>
    <h1 class="text-center my title">Our Product Collections</h1>
    <p class="text-justify">Ecommerce is a method of buying and selling goods and services online. The definition of ecommerce business can also include tactics like affiliate marketing. You can use ecommerce channels such as your own website, an established selling website like Amazon, or social media to drive online sales.</p>
</div>

    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"> <img class="card-my-top my-image img-fluid" src="{{product.image.url}}" alt="{{product.name}}"></a>


                <div>
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>


            </div>
        </div>
        {% endfor %}

    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %} <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}"}>{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}


    </div>
    <br>
</div>
{% endblock %}


